 body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            position: relative;
            transition: opacity 1s;
            opacity: 0;
        }
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../Imagens/intelbras.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            filter: blur(5px);
            z-index: -1;
        }
        body.fade-out {
            opacity: 0;
        }
        .container {
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            backdrop-filter: blur(10px);
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.1s;
        }
        button.clicked {
            transform: scale(0.95);
        }
        button:hover {
            background-color: #009000;
        }